@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;


body {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;

    background: $light;
    color: $dark;
    font-family: $rubik;
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;


}

h1, h2 {
    color: $gray;
}

h1 {
    font-size: $font-lg;
    // font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
    font-size: 35px;

    // @include sm(){
    //     font-size: $font-xl;
    // }

}

h2 {
    font-size: $font-md;
    font-size: 30px;

    // @include sm(){
    //     font-size: $font-lg;
    // }
}



p {
    font-size: 16px;
}

a, a:visited, a:active {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

.posts {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 60px;

    &__item {
        // padding: 20px;
        line-height: 1.5;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 10px;
        // background-color: orange;
    }
}
