@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;

/* PIZZA LIST */
.pizza-list {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 32px;
}

.pizza-list .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

