@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;

.container {
    width: 100%;
    max-width: map-get($breakpoints, 'xl' );
    margin: 0 auto;
    padding: 20px 15px;

    @include sm(){
        padding: 45px 125px;
    }
}