@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: $blue;
    color: $white;
    font-family: 12px;
    padding: 8px 0;
}

