@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as *;

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $primary;
    color: $light;
    font-family: 12px;
    min-height: 75px;
}

